# General
config.env
*.pem
*.key
logs/
microblog.log*

# Python
__pycache__/
*.py[cod]
*.so
app.db
app/**/__pycache__/
app/translations/**/*.mo
migrations/**/__pycache__/
venv/
dist/
build/
.eggs
.eggs-info
lib/
lib64/
pip-log.txt
.tox
.coverage
nosetests.xml

# C extensions
*.so

# Packages
*.egg
*.egg-info
develop-eggs/
sdist/
.installed.cfg
parts/
bin/
var/
lib/
lib64/
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Terraform
*.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
